.footer {
  background: #222222;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;
    border-top: 2px solid rgba(215, 215, 215, 0.4);
    @media (max-width: 474px) {
     flex-direction: column;
     align-items: center;
    }
  }
  .logo {
    display: flex;
    align-items: center;
     &__title {
      font-weight: bold;
      font-size: 23px;
      line-height: 31px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #E7E7E7;
      margin-left: 10px;
      @media (max-width: 769px) {
        font-size: 18px;
        line-height: 24px;
      }
     }
     &__img {
      width: 38.46px;
      height: 55.63px;
      @media (max-width: 769px) {
        width: 30px;
      height: 44px;
      }
     }
   }
  &__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.36);
    transition: color 0.3s ease;
    &:hover {
      color: #f3f3f3;
    }
    @media (max-width: 769px) {
      font-size: 14px;
    }
    @media (max-width: 474px) {
      margin: 25px 0;
     }
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.36);
    @media (max-width: 860px) {
      margin-top: 10px;
    }
    @media (max-width: 769px) {
      font-size: 14px;
    }
    @media (max-width: 474px) {
      margin: 0;
     }
  }
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 474px) {
      align-items: center;
     }
  }
}
