.tools {
	margin-top: 134px;
	position: relative;

	@media (max-width: 769px) {
		margin-top: 100px;
	}

	&__container {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;

		@media (max-width: 1380px) {
			padding: 0 30px;
			box-sizing: border-box;
		}
	}

	&__content {
		padding: 85px 0;
		position: relative;

		@media (max-width: 860px) {
			padding: 60px 0;
		}
	}

	&__slider {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		min-width: 0;
		margin-top: 40px;

		@media (max-width: 1080px) {
			flex-direction: column-reverse;
			align-items: center;
			position: relative;
		}
	}

	&__btn {
		position: absolute;
		bottom: 60px;
		left: 50%;
		transform: translate(-50%, 0);
		white-space: nowrap;
		background-image: linear-gradient(to right, #012e1f 0%, #138f70 51%, #360033 100%);
		transition: 0.5s;
		background-size: 200% auto;
		border-radius: 15px;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		display: inline-flex;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
		padding: 0 20px;
		height: 60px;

		&:hover {
			background-position: right center;
			color: #fff;
			text-decoration: none;
		}

		@media (max-width: 860px) {
			font-size: 13px;
			line-height: 16px;
			height: 50px;
			bottom: 25px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #000;
		background: #C8E8D9;
		padding: 11px 0 11px 11px;
		margin: 0 0 20px;
		border-radius: 15px 15px 0px 0px;
		width: 100%;
		box-sizing: border-box;

		&:last-of-type {
			margin: 10px 0 20px;
			border-radius: 0px 0px;
		}

		@media (max-width: 1080px) {
			display: none;
		}
	}

	&__item {
		margin-bottom: 14px;
		margin-left: 38px;
		margin-right: 7px;
		position: relative;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #000;
		cursor: pointer;
		-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; 
-webkit-tap-highlight-color: transparent;
		@media (max-width: 1080px) {
			font-size: 15px;
			line-height: 130%;
			margin: 5px;
			text-align: center;
		}

		@media (max-width: 860px) {
			font-size: 14px;
		}

		@media (max-width: 769px) {
			font-size: 13px;
		}

		@media (max-width: 474px) {
			font-size: 12px;

		}

		&::before {
			content: '';
			position: absolute;
			top: 5px;
			left: -28px;
			background: url('../../img/icons/point.svg') no-repeat;
			background-size: contain;
			height: 15px;
			width: 15px;

			@media (max-width: 1080px) {
				display: none;
			}
		}
	}

	.swiper-button-next_th,
	.swiper-button-prev_th {
		position: absolute;
		top: 15px;
		z-index: 5;
		background: url('../../img/icons/arrow-thumb.svg') no-repeat;
		background-size: contain;
		width: 16px;
		height: 20px;
		outline: none;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		@media (min-width: 1080px) {
			display: none;
		}
	}

	.swiper-button-prev_th {
		left: -20px;
	}

	.swiper-button-next_th {
		right: -20px;
		transform: rotate(180deg);
	}

	.swiper-button-disabled {
		opacity: 0.3;
	}

	.gallery-thumbs {
		max-width: 360px;
		margin: 0;
		margin-right: 15px;
		min-width: 318px;

		@media (max-width: 1080px) {
			max-width: 100%;
			margin-right: 0;
		}

		.swiper-slide {
			height: auto !important;
      
			@media (max-width: 1080px) {
				max-width: 250px;
				height: 50px !important;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 0.468234px dashed #8FB1A3;
				box-sizing: border-box;
				border-radius: 10px;
				background: #F8FDFA;
			}
		}

		.swiper-wrapper {
			background: #FFFFFF;
			border-radius: 15px;

			@media (max-width: 1080px) {
				background-color: rgba(255, 255, 255, 0);
			}

			@media (max-width: 860px) {}
		}

		.swiper-slide-thumb-active {
			.tools__item {
				font-weight: 500;
			}

			@media (max-width: 1080px) {
				background: #DFF3EA;
			}
		}

	}

	.gallery-top {
		min-width: 0;
		max-height: 600px;
		width: 100%;
		margin-left: auto;
		margin-right: 0;
		max-width: 755px;
		background: #DFF3EA;
		border-radius: 50px;
		padding-bottom: 140px;

		@media (max-width: 1080px) {
			margin: 40px 0;
		}

		@media (max-width: 860px) {
			margin: 30px 0;
			padding-bottom: 80px;
		}

		@media (max-width: 769px) {
			border-radius: 15px;
		}

		.swiper-slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 27px;
			box-sizing: border-box;

			@media (max-width: 860px) {
				padding: 0;
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			position: absolute;
			padding: 10px;
			box-sizing: border-box;
			top: 46%;
			transform: translate(0, -50%);
			width: 55px;
			height: 55px;
			-webkit-tap-highlight-color: transparent;
			@media (max-width: 1080px) {
				width: 42px;
				height: 42px;
				top: 50%;
			}

			@media (max-width: 474px) {
				width: 30px;
				height: 30px;
			}
		}

		.swiper-button-next {
			background: url('../../img/icons/arow-slider-right.svg') no-repeat;
			right: 0;
			background-size: contain;
		}

		.swiper-button-prev {
			background: url('../../img/icons/arow-slider-left.svg') no-repeat;
			left: 0;
			background-size: contain;
		}

		.swiper-pagination {
			bottom: 151px;

			@media (max-width: 1080px) {
				bottom: 150px;
			}

			@media (max-width: 860px) {
				bottom: 95px;
			}
		}

		.swiper-pagination-bullet {
			background: #fff;
			opacity: 0.8;
		}

		.swiper-pagination-bullet-active {
			opacity: 1;
		}

		.slider {
			&__title {
				font-style: normal;
				font-weight: 400;
				font-size: 22px;
				line-height: 27px;
				text-align: center;
				color: #000;
				background: #C6E0D5;
				border-radius: 0px 0px 15px 15px;
				padding: 10px 30px;
				margin-bottom: 30px;

				@media (max-width: 1080px) {
					font-size: 20px;
					line-height: 25px;
				}

				@media (max-width: 860px) {
					font-size: 15px;
					line-height: 18px;
					margin-bottom: 20px;
				}


				@media (max-width: 474px) {
					font-size: 11px;
					line-height: 14px;
				}
			}

			&__text {
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				text-align: center;
				color: #000;

				@media (max-width: 1080px) {
					font-size: 16px;
					line-height: 20px;
				}

				@media (max-width: 860px) {
					font-size: 14px;
					line-height: 17px;
				}

				@media (max-width: 474px) {
					font-size: 13px;
					line-height: 17px;
				}
			}

			&__link {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&__img {
				background: #FFFFFF;
				height: 400px;
				max-height: 400px;
				border-radius: 15px;
				margin: 30px 0 42px;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				@media (max-width: 860px) {
					max-height: 360px;
					margin-top: 20px;
				}

				@media (max-width: 769px) {
					max-height: 300px;
				}

				@media (max-width: 474px) {
					max-height: 200px;
				}

				img {
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}