.acting(id="acting")
  .bg.bg_inside
  .bg.bg_outside
  .acting__container.container
    .acting__content
      
      .acting__top-block.top-block
        .top-block__left-block
          img.acting__img(src="../img/acting1.svg", alt="")
        .top-block__right-block
          p.acting__title.title._line(data-da="acting__content,0,1080") MPSTATS для  <span class="light-green"> уже торгующих на маркетплейсах компаний </span>
          ul.acting__list.list
            li.acting__item.list__item Анализирует конкурентов и собственные продажи в одном кабинете
            li.acting__item.list__item Удобно планирует поставки с учетом скорости продаж
            li.acting__item.list__item Рассчитывает рентабельность с учетом логистических затрат и комиссий маркетплейса
            li.acting__item.list__item Поможет минимизировать out of stock
            li.acting__item.list__item Подсветит  успешные стратегии конкурентов
      .acting__bottom-block.bottom-block
        .bottom-block__left-block
          ul.acting__list.list
            li.acting__item.list__item Позволит получить исчерпывающий инструментарий для увеличения продаж и снижения издержек
            li.acting__item.list__item Предоставит все необходимые данные для успешного расширения товарной матрицы
            li.acting__item.list__item Даст доступ к данным лидеров продаж
            li.acting__item.list__item Сэкономит время аналитика и менеджера маркетплейсов, повысит эффективность их работы
            li.acting__item.list__item Позволит управлять своими продажами основываясь на данных, сохранив ресурсы на ошибках и проверках гипотез
        .bottom-block__right-block
          img.acting__img(src="../img/acting2.svg", alt="")
      