footer.footer
  .footer__container.container
    .footer__content
      .footer__logo.logo
        img.logo__img(src="../img/logo.svg", alt="")
        .logo__title Mpstats<span class="light">.io</span>
      a(href="../Politika_mpstats_ru.pdf" target="_blank" class="footer__link" data-da="footer__text-wrapper,0,860") Политика конфиденциальности
      .footer__text-wrapper
        .footer__text ©  2021 ИП Черобаев Д.С.