include mixins.pug

header.header#header
  .header__container.container
    .header__content
      .header__logo.logo
        img(src="../img/logo.svg", alt="")
        .logo__title Mpstats<span class="light">.io</span>
      .header__right-block
        ul.header__menu
          li.header__item
            a(href="#reasons").header__link.js-scroll-to Преимущества
          li.header__item
            a(href="#clients").header__link.js-scroll-to Клиенты
          li.header__item
            a(href="#tariff").header__link.js-scroll-to Тарифы
        a.header__btn(href="#popup_1" class="popup-link" )(data-da="menu__list, 4, 530") Связаться
a.header__burger.btn__burger._hidden(href="#menu" class="popup-link" )
  img(src="../img/icons/burger.svg", alt="")