head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="MPstats это сервис, который покажет вам остатки, количество продаж, выручку, цены, рейтинг и многое другое, любого товара, бренда, продавца и вашего конкурента на маркетплейсах – Wildberries и Ozon")
    title MPStats.io – анализ продаж на маркетплейсах
    link(rel="stylesheet" href="/css/style.css" type="text/css")
    link(rel="stylesheet" href="/css/lib/swiper.css" )
    link(rel="stylesheet" href="/css/lib/baguetteBox.min.css" defer)
    link(rel="icon" href="../img/icons/favicon.png")
    meta(property="og:locale" content="ru_RU")
    meta(property="og:type" content="website")
    meta(property="og:title" content="MPStats.io – анализ продаж на маркетплейсах")
    meta(property="og:description" content="MPstats это сервис, который покажет вам остатки, количество продаж, выручку, цены, рейтинг и многое другое, любого товара, бренда, продавца и вашего конкурента на маркетплейсах – Wildberries и Ozon")