.popup#popup_1.call
  .popup__body 
    .popup__content
      button.modal__close.popup__close.close-popup
      .call__content
        h3.call__title Если у Вас нет времени ждать обратного звонка, вы можете <span class="light-green">написать нам прямо сейчас</span>
        a(href="https://vk.com/im?media=&sel=-195571864").call__link._vk 
          img(src="../img/icons/vk.png", alt="")
          span.call__text Написать Вконтакте
        a(href="").call__link._tg 
          img(src="../img/icons/tg.png", alt="")
          span.call__text Написать в Telegram
        a(href="").call__link._whatsup  
          img(src="../img/icons/wu.png", alt="")
          span.call__text Написать в WhatsUp

.popup#popup_2.try
  .popup__body 
    .popup__content
      button.modal__close.popup__close.close-popup
      .try__content
        h3.try__title Оставьте заявку на бесплатную демонстрацию <span class="light-green">+ тестовый доступ</span>
        include form.pug
        

.popup#menu.menu
  .popup__body 
    .popup__content
      button.modal__close.popup__close.close-popup
      .menu__content
        ul.menu__list
          li.menu__item
            a(href="#reasons").menu__link.js-scroll-to Преимущества
          li.menu__item
            a(href="#clients").menu__link.js-scroll-to Клиенты
          li.menu__item
            a(href="#tariff").menu__link.js-scroll-to Тарифы