.popup#popup_1.call
  .popup__body 
    .popup__content
      button.modal__close.popup__close.close-popup
      .call__content
        h3.call__title Если у Вас нет времени ждать обратного звонка, вы можете <span class="light-green">написать нам прямо сейчас</span>
        a(href="https://vk.com/im?media=&sel=-195571864").call__link._vk 
          img(src="../img/icons/vk.png", alt="")
          span.call__text Написать Вконтакте
        a(href="").call__link._tg 
          img(src="../img/icons/tg.png", alt="")
          span.call__text Написать в Telegram
        a(href="").call__link._whatsup  
          img(src="../img/icons/wu.png", alt="")
          span.call__text Написать в WhatsUp

.popup#popup_2.try
  .popup__body 
    .popup__content
      button.modal__close.popup__close.close-popup
      .try__content
        h3.try__title Оставьте заявку на бесплатную демонстрацию <span class="light-green">+ тестовый доступ</span>
        form.try__form.form(action="#")
          input.try__name(type="text" placeholder="Введите имя")
          input.try__number(type="text" placeholder="Введите номер телефона")
          input.try__email(type="email" placeholder="Введите e-mail")
          .try__checkbox-block.consent
            input.try__checkbox.consent__input(id="checkbox" type="checkbox" name="check" value="None" required)
            label.consent__label(for="checkbox") 
              p.consent__text Я даю согласие на обработку моей персональной информации на условиях, определенных политикой конфиденциальности
          input.try__btn(type="submit", value="Оставить заявку на демонстрацию")
          <a class="try__link" href="../Politika_mpstats_ru.pdf" target="_blank">Политика конфиденциальности</a>

.popup#popup_3.thanks
  .popup__body 
    .popup__content
      button.modal__close.popup__close.close-popup
      .thanks__content
        img(src="../img/check.svg", alt="").thanks__img
        h3.thanks__title Спасибо за заявку!<br>Наш менеджер свяжется с Вами <span class="light-green"> в ближайшее время</span>
        p.thanks__text Присоединяйтесь к нам в социальных сетях
        .thanks__icons 
          a.thanks__link(href="https://vk.com/mpstatsio")
            img(src="../img/icons/vk-color.svg", alt="")
          a.thanks__link(href="https://telegram.me/mpstatsio")
            img(src="../img/icons/tg-color.svg", alt="")
          a.thanks__link(href="https://www.facebook.com/mpstats.io")
            img(src="../img/icons/fb-color.svg", alt="")
          a.thanks__link(href="https://www.instagram.com/mpstats.io/")
            img(src="../img/icons/inst-color.svg", alt="")
        

.popup#menu.menu
  .popup__body 
    .popup__content
      button.modal__close.popup__close.close-popup
      .menu__content
        ul.menu__list
          li.menu__item
            a(href="#reasons").menu__link.js-scroll-to Преимущества
          li.menu__item
            a(href="#clients").menu__link.js-scroll-to Клиенты
          li.menu__item
            a(href="#tariff").menu__link.js-scroll-to Тарифы