.reviews(id="reviews")
  .reviews__container
    .reviews__content
      p.reviews__title.title Отзывы
      .reviews__wrapper
        .swiper-container.reviews__slider
          .swiper-wrapper
            .swiper-slide.review 
              .review__header
                .review__logo
                    img(src="../img/geltek.png", alt="")
                .review__title
                  .review__title_top
                    p.review__name Ксения Вилкова 
                    .review__stars
                      img(src="../img/stars.png", alt="")
                  p.review__position Руководитель группы по взаимодействию с маркетплейсами ГЕЛЬТЕК
              .review__body
                p.review__text Пользуемся продуктом всего месяц, но уже видим результат!
                p.review__text Данные площадки MPStats применяем в ежедневной работе, плагин оказался незаменимой вещью, одним кликом посмотреть остаток по конкретному товару прямо на сервисе, или продажи конкретного товара конкурента.
                p.review__text В разработке маркетинговой стратегии используем продажи конкурентов, рейтинги в категориях и отдельное спасибо за удобные группы товаров, которые можно самостоятельно составить по любым SKU.
                p.review__text Большое спасибо команде MPStats за качественный продукт!
            .swiper-slide.review 
              .review__header
                .review__title
                  .review__title_top
                    p.review__name Сергей Фитков
                    .review__stars
                      img(src="../img/stars.png", alt="")
              .review__body
                p.review__text Когда начинали выходить на маркетплейсы, требовалась аналитика, что бы сохранить риски и привезти нужный товар, пытались анализировать в ручную, что занимало много времени. 
                p.review__text Когда искали сервисы с аналитикой, пересмотрели много, увидели MPStats. Проанализировали все товарные позиции которые были интересны по прошлому периоду и выбрали нишу. 
                p.review__text С первой поставки благодаря аналитике попали точно в цель, за первый месяц на двух позициях выручка составила 674 тысячи.
                p.review__text Теперь анализируем конкурентов и расширяем товарную матрицу. Сервис достаточно прост в управлении, а когда проверяли точность данных на Wildberries вышло порядка 94%. 
                p.review__text Спасибо MPStats.
            .swiper-slide.review 
              .review__header
                .review__logo
                    img(src="../img/kabanov.png", alt="")
                .review__title
                  .review__title_top
                    p.review__name Илья Кабанов
                    .review__stars
                      img(src="../img/stars.png", alt="")
              .review__body
                p.review__text Я не могу представить своей жизни без MPSTATS.
                p.review__text Мы выросли в 10 раз за год и это было бы не возможно без ежедневного использования  сервиса. 
            .swiper-slide.review 
              .review__header
                .review__logo
                    img(src="../img/upeco.svg", alt="")
                .review__title
                  .review__title_top
                    p.review__name Алексей Лисивненко
                    .review__stars
                      img(src="../img/stars.png", alt="")
                  p.review__position Руководитель направления продаж по работе с региональными ключевыми клиентами upeco
              .review__body
                p.review__text Пришли с запросом оценки собственных продаж на OZON Ритейл
                p.review__text После подробной оценки функционала поняли, что можем опираться на MPStats как на аналитический тул продаж маркетплейсов по нам и конкурентам.
                p.review__text Используем для АВС анализа собственных товаров, анализа эффективности промо, конкурентного анализа, выявления потенциальных категорий для запуска новых продуктов и т.д.
                p.review__text Сервис  позволяет ускорить оперативность и качество принятия решений, найти оптимальный баланс цена-доходность.Рекомендуем потому что это простой и понятный инструмент для анализа продаж на маркетплейсах.
            .swiper-slide.review 
              .review__header
                .review__logo
                    img(src="../img/goomni.png", alt="")
                .review__title
                  .review__title_top
                    p.review__name Ефим Алдухов
                    .review__stars
                      img(src="../img/stars.png", alt="")
                  p.review__position GoOmni
              .review__body
                p.review__text Для нас MPStats ежедневный инструмент. 
                p.review__text Даже не могу себе представить как можно эффективно управлять продажами, планировать поставки и цены без этого инструмента. 
                p.review__text Торговать на маркетплейсах без MPStats это примерно как идти на танк с луком. Шансы выжить есть, но победить никаких.      
            .swiper-slide.review 
              .review__header
                .review__logo
                    img(src="../img/lastochkin.png", alt="")
                .review__title
                  .review__title_top
                    p.review__name Ласточкин Семен
                    .review__stars
                      img(src="../img/stars.png", alt="")
                  p.review__position Школа по запуску на маркетплейсах LASTOCHKIN
              .review__body
                p.review__text Если ты продаешь на маркетплейсах, обязательно использование mpstats. 
                p.review__text Причем выбирать стоит профессиональный тариф, если ты относишься к этому как к бизнесу, а не поиграться. Все это окупается во много раз и в этом даже нет никаких сомнений.
                p.review__text MPSTATS - это лучший сервис на рынке анализа продаж на маркетплейсах.
          .swiper-button-next1
            span.swiper-button-next1__img
          .swiper-button-prev1
            span.swiper-button-prev1__img