script(type="text/javascript" src="js/lib/dinamic.js" defer )
script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
script(src="js/lib/baguetteBox.min.js" type="text/javascript" defer )
script(src="js/lib/popup.js" type="text/javascript")
script(type="text/javascript" src="js/bundle.js")