
.service(id="service")
  .service__container.container
    .service__content
      p.service__title.title Почему вам стоит воспользоваться именно <span class="light-green"> MPSTATS</span>
      .service__row 
        .service__block._medium
          .service__icon 
            img(src="../img/icons/service3.svg" alt="")
          p.service__heading Самый долгий период сбора данных, что  позволяет учитывать сезонные колебания и всплески 
          p.service__text продолжительность сбора данных более года
        .service__block._small
          .service__icon 
            img(src="../img/icons/service2.svg" alt="")
          p.service__heading Уникальный алгоритм сбора данных с точностью более 90%
      .service__row._2  
        .service__block
          .service__icon 
            img(src="../img/icons/service3.svg" alt="")
          p.service__heading Функционал, отображающий актуальные потребности:
          p.service__text - расчет поставки <br>- рентабельность <br>- отчет по доле рынка относительно конкурентов
        img.service__photo(src="../img/service-main.svg" alt="")
      .service__row 
        .service__block._small
          .service__icon 
            img(src="../img/icons/service1.svg" alt="")
          p.service__heading Личный кабинет и внешняя аналитика в одном месте
        .service__block._small
          .service__icon 
            img(src="../img/icons/service4.svg" alt="")
          p.service__heading Полная база торговых компании, со статистикой по продажам
      p.service__subtitle Все необходимые данные для принятия решений по торговле на маркетплейсах <span class="light-green">в одном месте</span>

