.start(id="start")
  .bg.bg_inside
  .bg.bg_outside
  .start__container.container
    .start__content
      .start__left-block
        p.start__title.title._line MPSTATS для компаний,<br><span class="light-green"> выходящих на маркетплейсы</span>
        .start__body
          .start__text-block
            ul.start__list.list
              li.start__item.list__item Найдёт прибыльные товары
              li.start__item.list__item Проанализирует объёмы ниш
              li.start__item.list__item Отследит тренды
              li.start__item.list__item Подстрахует от ошибок <br>и неработающих гипотез 
            .start__bottom-block(data-da="start__content,3,860")
              a.start__btn.btn__sta(href="#") Купить
              p.start__subtext Вам идеально подойдёт тариф “Профессиональный”
      .start__right-block(data-da="start__body,3,1080")
        img.start__img(src="../img/start.svg", alt="")
    