.tariff(id="tariff")
  .tariff__container
    .tariff__content
      p.tariff__title.title <span class="light-green">Тарифы</span>
      .swiper-container.tariff__slider  
        .swiper-wrapper
          .swiper-slide.tariff-item
            .tariff__card
              p.tariff-item__title Базовый
              .tariff-item__description.description
                p.description__title Для кого
                .description__text-block
                  p.description__text Для тех, кто уже работает с маркетплейсами
                  p.description__text Для тех, кому надоело работать в Excel
              p.tariff-item__list-title Что входит
              ul.tariff-item__list 
                li.tariff-item__text._bold Точный анализ собственных продаж в Wildberries
                li.tariff-item__text._bold Плагин для браузера Chrome
                li.tariff-item__text._bold Конкурентный анализ Wildberries и Ozon
                li.tariff-item__text Текущие остатки на складах
                li.tariff-item__text История продаж с разных складов
                li.tariff-item__text Анализ по категориям
                li.tariff-item__text Все аккаунты Wildberries в одном отчете
              .tariff-item__info 
                p Данные за последние 7&nbsp;суток
              .tariff-item__prices 
                .tariff-item__price_1 4800₽ / 1 месяц
                .tariff-item__price_2 12 960₽ / 3 месяца
                .tariff-item__price_3 23 040 / 6 месяцев
              a(href="https://mpstats.io/register" target="_blank").tariff-item__btn.btn__sta Выбрать
          .swiper-slide.tariff-item
            .tariff__card
              p.tariff-item__title Расширенный
              .tariff-item__description.description
                p.description__title Для кого
                .description__text-block
                  p.description__text Для производителей и узкопрофильных магазинов
                  p.description__text Для тех, у кого одна ниша и не требуется глубокий конкурентный анализ
              p.tariff-item__list-title Что входит
              ul.tariff-item__list
                li.tariff-item__text._bold Точный анализ собственных продаж в Wildberries
                li.tariff-item__text._bold Плагин для браузера Chrome
                li.tariff-item__text._bold Конкурентный анализ Wildberries и Ozon
                li.tariff-item__text Текущие остатки на склада
                li.tariff-item__text История продаж с разных складов
                li.tariff-item__text Анализ по категориям
                li.tariff-item__text Все аккаунты Wildberries в одном отчете
                li.tariff-item__text Анализ по брендам
                li.tariff-item__text Анализ по продавцам OZON
                li.tariff-item__text Почасовые данные продаж
                li.tariff-item__text Возможность увидеть новинки на маркетплейсе за&nbsp;7/14/30&nbsp;дней
              .tariff-item__info 
                p Данные за последние 14&nbsp;суток
              .tariff-item__prices 
                .tariff-item__price_1 18 500₽ / 1 месяц
                .tariff-item__price_2 49 950₽ / 3 месяца
                .tariff-item__price_3 88 800 / 6 месяцев
              a(href="https://mpstats.io/register" target="_blank").tariff-item__btn.btn__sta Выбрать
          .swiper-slide.tariff-item._main
            .tariff__card
              p.tariff-item__title Профессиональный
              .tariff-item__description.description
                p.description__title Для кого
                .description__text-block
                  p.description__text Для тех, кто выходит на Wildberries
                  p.description__text Для тех, кто работает, расширяется и ищет новые ниши
                  p.description__text Идеальный тариф под любые задачи
              p.tariff-item__list-title Что входит
              ul.tariff-item__list
                li.tariff-item__text._bold Точный анализ собственных продаж в Wildberries
                li.tariff-item__text._bold Плагин для браузера Chrome
                li.tariff-item__text._bold Конкурентный анализ Wildberries и Ozon
                li.tariff-item__text Текущие остатки на склада
                li.tariff-item__text История продаж с разных складов
                li.tariff-item__text Анализ по категориям
                li.tariff-item__text Все аккаунты Wildberries в одном отчете
                li.tariff-item__text Анализ по брендам
                li.tariff-item__text Анализ по продавцам OZON
                li.tariff-item__text Почасовые данные продаж
                li.tariff-item__text Возможность увидеть новинки на маркетплейсе за 7/14/30 дней
                li.tariff-item__text Анализ по продавцам Wildberries
              .tariff-item__info 
                p Данные за 12&nbsp;месяцев
                p Окно выборки данных: 91&nbsp;день
              .tariff-item__prices 
                .tariff-item__price_1 28 000₽ / 1 месяц
                .tariff-item__price_2 75 600₽ / 3 месяца
                .tariff-item__price_3 134 400 / 6 месяцев
              a(href="https://mpstats.io/register" target="_blank").tariff-item__btn.btn__sta Выбрать
          .swiper-slide.tariff-item
            .tariff__card
              p.tariff-item__title Корпоративный
              .tariff-item__description.description
                p.description__title Для кого
                .description__text-block 
                  p.description__text Для больших команд и крупных компаний, которым требуется подробная аналитика
              p.tariff-item__list-title Что входит
              ul.tariff-item__list
                li.tariff-item__text._bold Точный анализ собственных продаж в Wildberries
                li.tariff-item__text._bold Плагин для браузера Chrome
                li.tariff-item__text._bold Конкурентный анализ Wildberries и Ozon
                li.tariff-item__text Текущие остатки на склада
                li.tariff-item__text История продаж с разных складов
                li.tariff-item__text Анализ по категориям
                li.tariff-item__text Все аккаунты Wildberries в одном отчете
                li.tariff-item__text Анализ по брендам
                li.tariff-item__text Анализ по продавцам OZON
                li.tariff-item__text Почасовые данные продаж
                li.tariff-item__text Возможность увидеть новинки на маркетплейсе за 7/14/30 дней
              .tariff-item__info 
                p Одновременный доступ к сервису до 5&nbsp;пользователей
                p Данные за 12&nbsp;месяцев
                p Окно выборки данных: без&nbsp;ограничений
              .tariff-item__prices 
                .tariff-item__price_1 80 000₽ / 1 месяц
                .tariff-item__price_2 216 000₽ / 3 месяца
                .tariff-item__price_3 384 000 / 6 месяцев
              a(href="https://mpstats.io/register" target="_blank").tariff-item__btn.btn__sta Выбрать
        .swiper-button-next
        .swiper-button-prev



