.tools(id="tools")
  .bg.bg_outside
  .tools__container
    .tools__content
      p.tools__title.title._line Инструменты
      .tools__slider  
        .swiper-container.gallery-top
          .swiper-wrapper.gallery
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Плагин для сайта wildberries
              .slider__img
                a.slider__link(href="../img/slider/1-big.jpg") 
                  img.tools__img(src="../img/slider/1.jpg", alt="Плагин для сайта wildberries")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Анализ конкурента
              .slider__img
                a.slider__link(href="../img/slider/2-big.jpg") 
                  img.tools__img(src="../img/slider/2.jpg", alt="Анализ конкурента")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Сезонные колебания
              .slider__img
                a.slider__link(href="../img/slider/3-big.jpg") 
                  img.tools__img(src="../img/slider/3.jpg", alt="Сезонные колебания")
            .swiper-slide  
              .slider__title Инструмент внешней аналитики
              .slider__text Тренды
              .slider__img
                a.slider__link(href="../img/slider/4-big.jpg") 
                  img.tools__img(src="../img/slider/4.jpg", alt="Тренды")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Потенциал ниши и товара
              .slider__img
                a.slider__link(href="../img/slider/5-big.jpg") 
                  img.tools__img(src="../img/slider/5.jpg", alt="Потенциал ниши и товара")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Топы продаж
              .slider__img
                a.slider__link(href="../img/slider/6-big.jpg") 
                  img.tools__img(src="../img/slider/6.jpg", alt="Топы продаж")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text История продаж
              .slider__img
                a.slider__link(href="../img/slider/7-big.jpg")   
                  img.tools__img(src="../img/slider/7.jpg", alt="История продаж")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Анализ продавца
              .slider__img
                a.slider__link(href="../img/slider/8-big.jpg") 
                  img.tools__img(src="../img/slider/8.jpg", alt="Анализ продавца")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Анализ бренда
              .slider__img
                a.slider__link(href="../img/slider/9-big.jpg") 
                  img.tools__img(src="../img/slider/9.jpg", alt="Анализ бренда")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Отслеживание продаж
              .slider__img
                a.slider__link(href="../img/slider/10-big.jpg") 
                  img.tools__img(src="../img/slider/10.jpg", alt="Отслеживание продаж")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Позиция товара
              .slider__img
                a.slider__link(href="../img/slider/11-big.jpg") 
                  img.tools__img(src="../img/slider/11.jpg", alt="Позиция товара")
            .swiper-slide
              .slider__title Инструмент внешней аналитики
              .slider__text Отслеживание цен
              .slider__img
                a.slider__link(href="../img/slider/12-big.jpg") 
                  img.tools__img(src="../img/slider/12.jpg", alt="Отслеживание цен")
            .swiper-slide
              .slider__title Инструмент внутренней аналитики
              .slider__text Расчет поставки с учетом скорости продаж
              .slider__img
                a.slider__link(href="../img/slider/13-big.jpg") 
                  img.tools__img(src="../img/slider/13.jpg", alt="Расчет поставки с учетом скорости продаж")
            .swiper-slide
              .slider__title Инструмент внутренней аналитики
              .slider__text ABC анализ
              .slider__img
                a.slider__link(href="../img/slider/14-big.jpg") 
                  img.tools__img(src="../img/slider/14.jpg", alt="ABC анализ")
            .swiper-slide
              .slider__title Инструмент внутренней аналитики
              .slider__text Оценка рентабельности
              .slider__img
                a.slider__link(href="../img/slider/15-big.png") 
                  img.tools__img(src="../img/slider/15.jpg", alt="Оценка рентабельности")
            .swiper-slide
              .slider__title Инструмент внутренней аналитики
              .slider__text Процент выкупа
              .slider__img
                a.slider__link(href="../img/slider/16-big.jpg") 
                  img.tools__img(src="../img/slider/16.jpg", alt="Процент выкупа")
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
          a.tools__btn(href="#popup_2" class="popup-link") Оставить заявку на демонстрацию
        .swiper-container.gallery-thumbs
          .swiper-wrapper
            p.tools__text Внешняя аналитика
            .swiper-slide 
              p.tools__item плагин для сайта wildberries
            .swiper-slide 
              p.tools__item анализ конкурента
            .swiper-slide 
              p.tools__item сезонные колебания
            .swiper-slide 
              p.tools__item тренды
            .swiper-slide 
              p.tools__item потенциал ниши и товара
            .swiper-slide 
              p.tools__item топы продаж
            .swiper-slide 
              p.tools__item история продаж
            .swiper-slide 
              p.tools__item анализ продавца
            .swiper-slide 
              p.tools__item анализ бренда
            .swiper-slide 
              p.tools__item отслеживание продаж
            .swiper-slide 
              p.tools__item позиция товара
            .swiper-slide 
              p.tools__item отслеживание цен
            p.tools__text Внутренняя аналитика
            .swiper-slide
              p.tools__item расчет поставки
            .swiper-slide
              p.tools__item ABC анализ
            .swiper-slide
              p.tools__item оценка рентабельности
            .swiper-slide
              p.tools__item процент выкупа
        .swiper-button-next_th
        .swiper-button-prev_th
  include video-block.pug