.video-block(id="video-block")
  .video-block__container.container
    .video-block__content
      p.video-block__title.title Видео-обзор инструментов
      .video-block__body
        p.video-block__text Больше об этих инструментах можно узнать в подробном видео-обзоре сервиса <span class="green semi-bold">MPStats.io</span>
        iframe.video-block__video(title="Видео-обзор сервиса MPStats" src="https://www.youtube.com/embed/WB5VPHo9itE" frameborder="0" allowfullscreen)