doctype html
html(lang="ru")
  include blocks/head.pug
  body 
    .wrapper
      include blocks/main.pug
      include blocks/reasons.pug
      include blocks/start.pug
      include blocks/acting.pug
      include blocks/tools.pug
      include blocks/service.pug
      include blocks/clients.pug
      include blocks/tariff.pug
      include blocks/reviews.pug
      include blocks/contacts.pug
      include blocks/footer.pug
      include blocks/modals.pug
    include blocks/scripts.pug